services:
  tailscale:
    container_name: tailscale
    image: tailscale/tailscale:${VERSION:-stable}
    network_mode: "host"
    volumes:
      - ${DATA_PATH:-}:/var/lib # State data will be stored in this directory
      - /dev/net/tun:/dev/net/tun # Required for tailscale to work
    cap_add: # Required for tailscale to work
      - net_admin
      - sys_module
    command: tailscaled
    environment:
      TS_AUTHKEY: ${TS_AUTHKEY}
      TS_HOSTNAME: ${AUTONAS_HOST:-autonas}
      TS_STATE_DIR: /var/lib/tailscale
    env_file:
      - .env
    privileged: true
    restart: unless-stopped
